name: Promote Candidate to Stable and Deploy

on:
  workflow_dispatch:

env:
  BACKEND_IMAGE: ditiocorporate/ditio.org-backend
  FRONTEND_IMAGE: ditiocorporate/ditio.org-frontend

jobs:
  promote-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 1 Pull latest candidate images
      - name: Pull candidate images
        run: |
          docker pull $BACKEND_IMAGE:candidate
          docker pull $FRONTEND_IMAGE:candidate

      # 2 Retag as stable
      - name: Promote to stable
        run: |
          docker tag $BACKEND_IMAGE:candidate $BACKEND_IMAGE:stable
          docker tag $FRONTEND_IMAGE:candidate $FRONTEND_IMAGE:stable

          docker push $BACKEND_IMAGE:stable
          docker push $FRONTEND_IMAGE:stable

      # 3 Checkout code
      - name: Checkout repo
        uses: actions/checkout@v6

      # 4 Copy compose.yaml to server with SCP
      - name: Copy compose file to server
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          source: "compose.yaml"
          target: "/srv/ditio"

      # 5 Copy prod.conf to server with SCP
      - name: Copy nginx conf file to server
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          source: "nginx-conf/prod.conf"
          target: "/srv/ditio"

      # 6 Deploy to server via SSH
      - name: Deploy on server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            set -e
            mkdir -p /srv/ditio
            cd /srv/ditio

            cat > .env << EOF
            POSTGRES_USER=postgres
            POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}
            POSTGRES_DB=postgres
            SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/postgres
            BACKEND_URL=http://backend
            NGINX_CONF_FILE=prod.conf

            BACKEND_IMAGE=${{ env.BACKEND_IMAGE }}
            FRONTEND_IMAGE=${{ env.FRONTEND_IMAGE }}
            BACKEND_TAG=stable
            FRONTEND_TAG=stable

            EOF

            chmod 600 .env

            docker compose pull
            docker compose up -d

            docker image prune -f
